body{
    background: #D8DFE8;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
    width: 120px;
    height: 48px;
    position: absolute;
    top: 6vh;
    left: 2vw;
}

#texto{
    width: 50vw;
    height: 45vh;
    background-color: #D8DFE8;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 23vh;
    left: 12vw;
    color: #0A3871;
}

#texto::placeholder{
    color: #0A3871;
    font-size: 30px;
    font-family: 'Inter';
}

#texto:focus, #texto-encriptado:focus{
    outline: none;
}

.cuadroMuñeco, #cuadroEncriptado{
    background: mintcream;
    width: 30vw;
    height: 83vh;
    border-radius: 32px;
    display: block;
    position: absolute;
    left: 67vw;
    top: 6vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.Muñeco{
    width: 20vw;
    height: 38vh;
    position: relative;
    top: 10vh;
    left: 4vw;
    vertical-align: middle;
}

.cuadro1{
    text-align: center;
    width: 25vw;
    vertical-align: middle;
    font-size: 1.8vw;
    color: orangered;
    line-height: 120%;
    position: absolute;
    bottom: 23vh;
    left: 2.5vw;
}

.cuadro2{
    text-align: center;
    width: 25vw;
    height: 48px;
    font-size: 1.5vw;
    color: black;
    vertical-align: middle;
    position: absolute;
    bottom: 14vh;
    left: 2.5vw;
}

#texto-encriptado{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 23vw;
    height: 50vh;
    border: none;
    font-size: 28px;
    color: rgb(34, 35, 39);
    background-color: mintcream;
}

#Copiar{
    width: 17vw;
    height: 4vw;
    border-radius: 18px;
    color: orangered;
    border-color: orangered;
    font-size: 18px;
    font-family: "Inter";
    line-height: 19.36px;
    text-align: center;
    position: absolute;
    left: 7vw;
    bottom: 40px;
    cursor: pointer;
}

.area-botones{
    display: inline-block;
    position: absolute;
    left: 7vw;
    bottom: 13vh;
}

.condiciones{
    position: relative;
    padding: 0 0 8px 18px;
    opacity: 80%;
}

.icono{
    width: 14px;
    height: 14px;
    position: absolute;
    margin-bottom: 10px;
}

.condiciones-texto{
    line-height: 120%;
    font-size: 14px;
    margin-left: 18px;
}

.encriptar{
    font-size: 20px;
    width: 320px;
    height: 60px;
    color: white;
    background-color: rgb(255, 84, 22);
    border-radius: 24px;
    margin-right: 10px;
    border-color: #e6e6e6;
    cursor: pointer;
}

.desencriptar{
    font-size: 20px;
    width: 320px;
    height: 60px;
    color: orangered;
    background-color: mintcream;
    border-radius: 24px;
    border-color: orangered;
    cursor: pointer;
}

.encriptar:hover, .desencriptar:hover, #Copiar:hover{
    transform: scale(104%);
}

footer{
    background: rgb(255, 186, 96);
    width: 100vw;
    height: 8vh;
    text-align: center;
    position: absolute;
    object-position: bottom;
    bottom: 0;
}

.pie{
    color: white;
    font-size: 16px;
    font-family: "Frankin Gothic";
    position: absolute;
    top: 15px;
    left: 44%;
}

@media screen and (max-width: 480px){
    .logo{
        position: absolute;
        left: 35vw;
    }
    #texto{
        width: 80vw;
        height: 20vh;
        position: absolute;
        top: 18vh;
        left: 55px;
        font-size: 30px;
    }
    #texto::placeholder{
        font-size: 24px;
    }
    .area-botones{
        width: 80vw;
        scale: 80%;
        height: 20vh;
        position: absolute;
        left: 9vw;
        bottom: 35vh;
    }
    .cuadroMuñeco, #cuadroEncriptado{
        width: 80vw;
        height: 25vh;
        position: absolute;
        left: 10vw;
        top: 65vh;
        text-align: center;
    }
    #texto-encriptado{
        height: 15vh;
        width: 67vw;
        font-size: 24px;
        position: absolute;
        left: 17px;
        top: 15px;
    }
    #Copiar{
        width: 60vw;
        height: 5vh;
        position: absolute;
        left: 10vw;
        bottom: 0.5vh;
    }
    .cuadro1, .cuadro2{
        width: 70vw;
        margin-left: 0;
        position: absolute;
        left: 3.5vw;
    }
    .cuadro1{
        top: 5vh;
        font-size: 20px;
        font-weight: bold;
    }
    .cuadro2{
        bottom: 3vh;
        font-size: 14px;
    }
    .Muñeco{
        display: none;
    }
    .desencriptar{
        margin-top: 10px;
    }
    footer{
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:1030px){
    #texto{
        left: 17vw;
        top: 17vh;
        font-size: 40px;
        height: 30vh;
        width: 70vw;
    }
    #texto::placeholder{
        font-size: 42px;
    }
    .cuadroMuñeco, #cuadroEncriptado{
        position: absolute;
        top: 65vh;
        left: 12vw;
        height: 25vh;
        width: 75vw;
    }
    .Muñeco{
        display: none;
    }
    .cuadro1{
        bottom: 12vh;
        width: 45vw;
        left: 15vw;
        font-size: 34px;
    }
    .cuadro2{
        bottom: 6vh;
        font-size: 28px;
        width: 60vw;
        left: 7vw;
    }
    .area-botones{
        bottom: 40vh;
        left: 12vw;
    }
    footer{
        display: none;
    }
}
